.loadinMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loader{
    width : 125px;
    height: 125px;
    border-bottom: 5px solid gray;
    border-radius:50%;
    animation : loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate{
    to{
        transform:rotateZ(-360deg)
    }
}